@media (max-width: 800px) {
  .controls {
    padding: 0;
    gap: 0;
    min-height: 24px;
    height: 24px;
  }
  .controls button,
  .controls input[type="range"] {
    min-width: 12px;
    min-height: 12px;
    font-size: 0.6em;
    padding: 0;
    height: 20px;
    line-height: 1;
  }
  .progress-bar-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
  #progressBar {
    height: 1px;
  }
  #volumeSlider {
    width: 16px;
    min-width: 8px;
    height: 16px;
  }
  .episode-dropdown-list,
  .settings-options {
    min-width: 100vw;
    left: 0;
    right: 0;
    border-radius: 0;
  }
  .start-icon {
    font-size: 12px !important;
  }
  .time-display {
    font-size: 0.55em;
  }
}