.settings-container {
  position: relative;
}
.settings-options {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  padding: 15px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.sub-menu {
  display: none;
}
.settings-item {
  width: 100%;
  text-align: left;
  padding: 10px;
  background: linear-gradient(135deg, #444, #555);
  border-radius: 6px;
  margin-bottom: 5px;
  transition: background 0.3s ease;
}
.settings-item:hover {
  background: black;
}
.back-button {
  background: #333;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  transition: background 0.3s ease;
}
.back-button:hover {
  background: #444;
}
.error-message {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 0, 0, 0.9);
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  display: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}
#pipButton,
#settingsButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}
#pipButton:hover,
#settingsButton:hover {
  color: #9400D3;
}